<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.StudentMapper">
    <!--嵌套查询方式-->
    <select id="findStudentByStuId" parameterType="int" resultMap="CampusIdWithStudentResult" >
        select * from t_student where stu_id=#{stuId}
    </select>
    <resultMap id="CampusIdWithStudentResult" type="Student">
        <id property="stuId" column="stu_id"/>
        <result property="stuName" column="stu_name"/>
        <result property="stuSex" column="stu_sex"/>
        <result property="stuAge" column="stu_age"/>
        <association property="stuCard" column="stu_cardid" javaType="CampusCard"
                     select="com.itheima.mapper.CampusIdMapper.findCardByCardId"/>
    </resultMap>
    <!--嵌套结果查询-->
    <select id="findStudentByStuId2" parameterType="int" resultMap="CampusIdWithStudentResult2" >
        select student.*,campuscard.card_id,campuscard.card_major
        from t_student as student , t_campuscard as campuscard
        where student.stu_cardid=campuscard.card_id and student.stu_id=#{stuId}
    </select>
    <resultMap id="CampusIdWithStudentResult2" type="Student">
        <id property="stuId" column="stu_id"/>
        <result property="stuName" column="stu_name"/>
        <result property="stuSex" column="stu_sex"/>
        <result property="stuAge" column="stu_age"/>
        <association property="stuCard" javaType="CampusCard">
        <id property="cardId" column="card_id"/>
        <result property="cardMajor" column="card_major"/>
        </association>
    </resultMap>
</mapper>